body {
  background-color: coral;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
form {
   margin-left: 80px;
}
p {
   margin-left: 80px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
