<html>

    <head>
        <title>COLLEGE PICKER</title>
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
      <h1>This Quiz  Will Determine What University You Attend</h1>
      <img src="https://images-na.ssl-images-amazon.com/images/I/710jzb-x4vL._SX425_.jpg" style="width:400px;height:400px;" class="center">
      <form method="post" action="/results">
        <h3>what is your gender?</h3>
          <input type="radio" name="gender" value="3">female<br>
          <input type="radio" name="gender" value="2">male<br>
          <input type="radio" name="gender" value="1">non-binary<br>
          <input type="radio" name="gender" value="0">prefer not to awnser<br>
        <h3>would you like to be close to home or far away?</h3>
          <input type="radio" name="distance" value="3">close<br>
          <input type="radio" name="distance" value="2">far away<br>
          <input type="radio" name="distance" value="1">distance does not matter<br>
          <input type="radio" name="distance" value="0">prefer not to awnser<br>
        <h3>would you like a big school or small school?</h3>
          <input type="radio" name="size" value="3">big<br>
          <input type="radio" name="size" value="2">small<br>
          <input type="radio" name="size" value="1">size does not matter<br>
          <input type="radio" name="size" value="0">prefer not to awnser<br>
        <h3>do you want to go to a public or private university?</h3>
          <input type="radio" name="ownership" value="3">public<br>
          <input type="radio" name="ownership" value="2">private<br>
          <input type="radio" name="ownership" value="1">status does not matter<br>
          <input type="radio" name="ownership" value="0">prefer not to awnser<br>
        <h3>do you like the city or suburbs?</h3>
          <input type="radio" name="enviornment" value="3">city<br>
          <input type="radio" name="enviornment" value="2">suburbs<br>
          <input type="radio" name="enviornment" value="1">enviornment does not matter<br>
          <input type="radio" name="enviornment" value="0">prefer not to awnser<br>
        <h3>do you have a driver's license?</h3>
          <input type="radio" name="skilled" value="3">yes<br>
          <input type="radio" name="skilled" value="2">i will have one soon<br>
          <input type="radio" name="skilled" value="1">no<br>
          <input type="radio" name="skilled" value="0">prefer not to awnser<br>
        <h3>what type of school would you ike?</h3>
          <input type="radio" name="type" value="3">research university<br>
          <input type="radio" name="type" value="2">liberal arts college<br>
          <input type="radio" name="type" value="1">single-sex school<br>
          <input type="radio" name="type" value="0">prefer not to awnser<br>
        <h3>what is your GPA?</h3>
          <input type="radio" name="grades" value="3">3.5-4.0<br>
          <input type="radio" name="grades" value="2">3.0-3.4<br>
          <input type="radio" name="grades" value="1">less than 3<br>
          <input type="radio" name="grades" value="0">prefer not to awnser<br>
        <br>
        <input type="submit">
      </form>
    </body>
</html>
